{% extends 'base.html' %}
{% block content %}

<h1>HandBag Details</h1>

<div class="card">
    <div class="row">
        <div class="card-content">
            <div class="col s4">
            <img class="fit" height="200" width="200" src={{handbag.image}}>
            </div>
        <div class="col s8">
        <span class="card-title">{{ handbag.name }}</span>
        <p>Price: ${{ handbag.price }}</p>
        <p>Description: {{ handbag.description|linebreaks }}</p>
        <p>Brand: {{ handbag.brand }}</p>
        <p>Color: {{ handbag.color }}</p>
        </div>
        <div class="card-action">
            <a href="{% url 'handbags_update' handbag.id %}">Edit</a>
            <a href="{% url 'handbags_delete' handbag.id %}">Delete</a>
        </div>
        </div>
    </div>
    </div>

{% endblock %}